* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monserrat, sans-serif;
}

input, button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
}


.App {
    height:100vh;
    display:ruby;
    background-color: #09001d;
    align-items: center;
    justify-content: center;
    background-repeat: repeat-y;
}

form {
    display: block;
    position: relative;
}

form:after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    z-index: 1;
    background-image: linear-gradient(to bottom right,#047f8a, #37048a);
}

form .form-inner {
    position:relative;
    align-items: center;
    display: block;
    background-color: #09001d;
    padding: 30px;
    z-index: 2;
}

form .form-inner h2{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

form .form-inner .form-group {
    display: block;
    width: 300px;
    margin-bottom: 15px;
}

.error {
    display: block;
    color: rgb(252, 0, 0);
    font-size: 12px;
    margin-bottom: 5px;
    transition: 0.4s;
}

.form-inner .form-group label {
    display: block;
    color: rgb(221, 221, 221);
    font-size: 12px;
    margin-bottom: 5px;
    transition: 0.4s;
}

.form-inner .form-group:focus-within label {
    color:#047f8a;
}

form .form-inner .form-group input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: rgb(231, 242, 255);
    border-radius: 8px;
    transition: 0.4s;
}

form .form-inner .form-group input:focus {
    box-shadow: 0px 0px 3px rgb(151, 226, 255);
}

form .form-inner input[type="submit"],
.welcome button{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-image: linear-gradient(to right, rgb(7, 161, 161) 50%, #047f8a 50%, #37048a);
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    align-content: center;
}

form .form-inner input[type="submit"]:hover, .welcome button:hover {
    background-position: 100%, 0%;
}

.welcome {
    width: 100%;
    max-width: 480px;
    background-color: transparent;
    padding: 15px 30px;
    align-items: center;
    align-content: center;
    margin: auto;
}

.welcome h2 {
    color: #37048a;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

.welcome h2 span {
    color: #37048a;
    font-weight: 700;
}

.welcome h1 span {
    color: #37048a;
    font-weight: 800;
}

.welcome_btn {
    margin-left: 40%;
    margin-right: 50%;
}

.image-background {
  height: 500px;
  background-position:right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.25;
}

.starter-text {
    background-image:image("../images/full_image.JPG");
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .my {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .article {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
}

.header {
    font-size: 80px;
    color: white;
    text-align: center;
    opacity: 1;
}

.header2 {
    font-size: 20px;
    color: white;
    text-align: center;
}

.header3 {
    font-size: 50px;
    color: white;
    text-align: center;
}
